*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.logo{
    width: 80px;
    cursor: pointer;
}
.banner{
    font-family: arial;
}
.banner h1{
    font-size: 70px;
    margin-left: 980px;
    font-weight: bold;
}
.banner p{
    font-size: 25px;
    margin-left: 670;
}
.socials{
    font-family: arial;
}
.socials h1{
    font-size: 70px;
    margin-left: 820px;
    font-weight; bold;
}
.socials p{
    font-size: 25px;
    margin-left: 920;
    font-weight: bold;
}